<!-- page content -->
<div class="container">
  <% flash.each do |key, value| %>
    <div class="flash-message text-center"><%= value %></div>
  <% end %>
  <br><br>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    	<div class="pull-left">
        <%= link_to new_survey_path, class: "btn btn-primary" do %>
          <i class="fa fa-plus" aria-hidden="true" style="font-size: 20px;"></i> Add new survey
        <% end %>
      </div>
      <br>
    
      <h1 style="margin-left: 40%;">List Of Active Surveys</h1>
      <table style="width:100%" border="2">
        <thead>
          <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @surveys.each do |survey| %>
            <tr>
              <td><%= survey.title %></td>
              <td><%= survey.status.titleize %></td>
              <td>
                <%= link_to "View Survey", survey_path(survey), class: "btn btn-primary btn-sm" %>&nbsp;&nbsp;
                <%= link_to "Edit Survey", edit_survey_path(survey), class: "btn btn-primary btn-sm" %>&nbsp;&nbsp;
                <%= link_to "Delete Survey", survey_path(survey), method: :delete, class: "btn btn-primary btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>